ul {
    list-style-type: none;
}

/*----- cards -----*/

.card {
    font-family: serif;
    height: 16em;
    width: 12em;
    border: 0.5em solid hsla(0, 0%, 50%, 0.5);
    border-radius: 1em;
    background-color: red;
    text-align: center;
    position: relative;
}

.card .value {
    font-size: 10em;
    border: solid 0.1em hsla(0, 0%, 25%, 0.5);
    margin: 0 0.1em;
    background: hsla(0, 0%, 75%, 0.5);
}

.card .border.bottom {
    transform: rotate(180deg);
}

/*----- decks of cards -----*/

.deck .card {
    margin-top: -17em; /* card height + border*2 */
}

.deck li:first-child .card {
    margin-top: 0em;
}

/*----- tricks -----*/

.tricks:first-child .trick{
    margin-top: 0em;
}

.tricks:last-child .trick .card {
    color: orange;
    background-color: yellow;
}

.trick {
    padding-bottom: 20em;
    margin-top: -17em; /* card height + border*2 */
}

.trick ul li {
    display: inline;
    list-style-type: none;
    float: left;
}

.trick .card {
    margin-left: -4em;
}

/*----- player -----*/
.player {
    height: 10em;
}

.player ul {
    font-size: 6px;
}

.player ul li {
    display: inline;
    list-style-type: none;
    float: left;
}

.player .card {
    margin-left: -4em;
}
