ul {
    list-style-type: none;
}

/*----- cards -----*/

.card {
    height: 14em;
    width: 10em;
    border: 0.5em solid hsla(0, 0%, 50%, 0.5);
    border-radius: 1em;
    background-color: red;
    text-align: center;
}

.card .value {
    font-size: 10em;
}

.deck .card {
    margin-top: -15em; /* card height + border*2 */
}

.deck li:first-child .card {
    margin-top: 0em;
    color: orange;
    background-color: yellow;
    position: relative;
}

/*----- tricks -----*/

.tricks:first-child .trick{
    margin-top: 0em;
    position: relative;
}

.trick {
    padding-bottom: 20em;
    margin-top: -15em; /* card height + border*2 */
}

.trick ul li {
    display: inline;
    list-style-type: none;
    float: left;
}

.trick .card {
    margin-left: -4em;
}
